*{
	margin: 0;
	padding: 0;
	
}
.navbar-brand{
font-size: 30px;
font-family: "Lucida Console", "Courier New", monospace;
color: black;

}
.navbar{

border: none;
background-color: black;
color: white;
}
body{
	
	color: black;

}
.glyphicon{
	font-size: 30px;
	color:#000000; 
}

.center{
	width: 90%;
	background-color: grey;
	color: #000000;

}
.container
{
	background-color: grey;
	color: #000000;
}
.text-center{
	font-size: 30px;
}
h1
{
	text-align: center;
	font-family: "Lucida Console", "Courier New", monospace;
	margin-top: 0px;
}
h2{
	text-align: center;
	font-family: "Lucida Console", "Courier New", monospace;

}
#myNavbar ul li a {
	color: white;
}
